{% extends "base.html" %}
{% load test_tags %}

{% block content %}
    <div id="{{object.pk}}" class="enum">
    <h1>{{ object.pk }}</h1>
    <p class="small_pos_int">small_pos_int: <b><span class="value">{{ object.small_pos_int.value|to_str }}</span></b> <b><span class="label">{{ object.small_pos_int.label|to_str }}</span></b></p>
    <p class="small_int">small_int: <b><span class="value">{{ object.small_int.value|to_str }}</span></b> <b><span class="label">{{ object.small_int.label|to_str }}</span></b></p>
    <p class="pos_int">pos_int: <b><span class="value">{{ object.pos_int.value|to_str }}</span></b> <b><span class="label">{{ object.pos_int.label|to_str }}</span></b></p>
    <p class="int">int: <b><span class="value">{{ object.int.value|to_str }}</span></b> <b><span class="label">{{ object.int.label|to_str }}</span></b></p>
    <p class="big_pos_int">big_pos_int: <b><span class="value">{{ object.big_pos_int.value|to_str }}</span></b> <b><span class="label">{{ object.big_pos_int.label|to_str }}</span></b></p>
    <p class="big_int">big_int: <b><span class="value">{{ object.big_int.value|to_str }}</span></b> <b><span class="label">{{ object.big_int.label|to_str }}</span></b></p>

    <p class="date_enum">date_enum: <b><span class="value">{{ object.date_enum.value|to_str }}</span></b> <b><span class="label">{{ object.date_enum.label|to_str }}</span></b></p>

    {% if object.datetime_enum|is_enum %}
    <p class="datetime_enum">datetime_enum: <b><span class="value">{{ object.datetime_enum.value|to_str }}</span></b> <b><span class="label">{{ object.datetime_enum.label|to_str }}</span></b></p>
    {% else %}
    <p class="datetime_enum">datetime_enum: <b><span class="value">{{ object.datetime_enum|to_str }}</span></b> <b><span class="label">{{ object.datetime_enum|to_str }}</span></b></p>
    {% endif %}

    <p class="time_enum">time_enum: <b><span class="value">{{ object.time_enum.value|to_str }}</span></b> <b><span class="label">{{ object.time_enum.label|to_str }}</span></b></p>
    <p class="duration_enum">duration_enum: <b><span class="value">{{ object.duration_enum.value|to_str }}</span></b> <b><span class="label">{{ object.duration_enum.label|to_str }}</span></b></p>
    <p class="decimal_enum">decimal_enum: <b><span class="value">{{ object.decimal_enum.value|to_str }}</span></b> <b><span class="label">{{ object.decimal_enum.label|to_str }}</span></b></p>

    <p class="constant">constant: <b><span class="value">{{ object.constant.value|to_str }}</span></b> <b><span class="label">{{ object.constant.label|to_str }}</span></b></p>
    <p class="text">text: <b><span class="value">{{ object.text.value|to_str }}</span></b> <b><span class="label">{{ object.text.label|to_str }}</span></b></p>
    <p class="extern">extern: <b><span class="value">{{ object.extern.value|to_str }}</span></b> <b><span class="label">{{ object.extern.name|to_str }}</span></b></p>
    <p class="dj_int_enum">dj_int_enum: <b><span class="value">{{ object.dj_int_enum.value|to_str }}</span></b> <b><span class="label">{{ object.dj_int_enum.label|to_str }}</span></b></p>
    <p class="dj_text_enum">dj_text_enum: <b><span class="value">{{ object.dj_text_enum.value|to_str }}</span></b> <b><span class="label">{{ object.dj_text_enum.label|to_str }}</span></b></p>

    {% if object.non_strict_int|is_enum %}
    <p class="non_strict_int">non_strict_int: <b><span class="value">{{ object.non_strict_int.value|to_str }}</span></b> <b><span class="label">{{ object.non_strict_int.label|to_str }}</span></b></p>
    {% else %}
    <p class="non_strict_int">non_strict_int: <b><span class="value">{{ object.non_strict_int|to_str }}</span></b> <b><span class="label">{{ object.non_strict_int|to_str }}</span></b></p>
    {% endif %}

    {% if object.non_strict_text|is_enum %}
    <p class="non_strict_text">non_strict_text: <b><span class="value">{{ object.non_strict_text.value|to_str }}</span></b> <b><span class="label">{{ object.non_strict_text.label|to_str }}</span></b></p>
    {% else %}
    <p class="non_strict_text">non_strict_text: <b><span class="value">{{ object.non_strict_text|to_str }}</span></b> <b><span class="label">{{ object.non_strict_text|to_str }}</span></b></p>
    {% endif %}

    <p class="no_coerce">no_coerce: <b><span class="value">{{ object.no_coerce|to_str }}</span></b> <b><span class="label">{{ object.no_coerce|to_str }}</span></b></p>

    <p>
    {% if update_path %}
    <a href="{% url update_path pk=object.pk %}">Edit</a>
    {% endif %}
    {% if delete_path %}
    <a href="{% url delete_path pk=object.pk %}">Delete</a>
    {% endif %}
    </p>
    </div>
{% endblock %}
